/.idea
/Gopkg.lock
/vendor
/site-management-integration-tests/target
**/*.iml
/site-management-service/bin/site-management-service-1.0.0.0-SNAPSHOT
/site-management-service/bin/site-management-service-1.0.0.0-SNAPSHOT.mvn-golang
/site-management-service/bin/
**/coverage.out
.vscode